<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--/*@thymesVar id="scoreCounters" type="io.sykq.wfplayground.controller.DataController.ScoreCounter"*/-->
<div data-th-each="scoreCounter : ${scoreCounters}">
    <!--/*@thymesVar id="scoreCounter" type="io.sykq.wfplayground.controller.DataController.ScoreCounter"*/-->
    <p>[[${scoreCounter.getHighScores()}]]</p>
    <p>[[${scoreCounter.getLowScores()}]]</p>
</div>
</div>
</body>
</html>